// Place all the styles related to the stickies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sticky
{
    background-color: lavender;
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px gray;

}

.note
{
    width: 95%;
    height: 80%;
    background-color: transparent;
    border: none;
}